@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

body {
	margin: 0;
}

.app-container {
	/* margin: 0; */
	height: 100vh;
	/* height: 100%; */
	box-sizing: border-box;
	/* background-size: cover; */
	/* border: 1px solid; */
	/* border-radius: 10px; */
	/* width: 500px; */
	padding: 30px;
	/* flex-grow: 1; */
	/* overflow: auto; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(
		to top right,
		hsl(0, 100%, 50%) 0%,
		hsl(0, 100%, 50%) 10%,
		hsla(18, 100%, 50%) 10%,
		hsl(18, 100%, 50%) 20%,
		hsl(36, 100%, 50%) 20%,
		hsl(36, 100%, 50%) 30%,
		hsl(54, 100%, 50%) 30%,
		hsl(54, 100%, 50%) 40%,
		hsl(72, 100%, 50%) 40%,
		hsl(72, 100%, 50%) 50%,
		hsl(90, 100%, 50%) 50%,
		hsl(90, 100%, 50%) 60%,
		hsl(108, 100%, 50%) 60%,
		hsl(108, 100%, 50%) 70%,
		hsl(126, 100%, 50%) 70%,
		hsl(126, 100%, 50%) 80%,
		hsl(144, 100%, 50%) 80%,
		hsl(144, 100%, 50%) 90%,
		hsl(162, 100%, 50%) 90%,
		hsl(162, 100%, 50%) 100%
	);
}

.intro-container {
	/* border: 1px solid; */
	/* padding: 30px; */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: hsla(180, 50%, 50%, 0.5);
	flex-grow: 1;
}

.heading {
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	font-family: "Merienda", cursive;
	/* color: white; */
}

.find-out-button {
	font-family: "Merienda", cursive;
	width: 123px;
	height: 45px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
}

.find-out-button:hover {
	cursor: pointer;
	background-color: hsl(180, 100%, 50%);
}

.game-container {
	font-family: "Merienda", cursive;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: hsla(180, 50%, 50%, 0.5);
	flex-grow: 1;
}

.privacy-message-container {
	/* border: 1px solid; */
	background-color: rgba(255, 255, 255, 0.5);
	color: red;
	padding: 10px;
	border-radius: 10px;
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.privacy-message {
	margin: 0;
}

.privacy-message-close-icon:hover {
	cursor: pointer;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.input-subheading {
	font-size: 20px;
}

.input {
	font-family: "Merienda", cursive;
	width: 260px;
	height: 35px;
}

.check-button {
	font-family: "Merienda", cursive;
	width: 123px;
	height: 45px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
}

.check-button:hover {
	cursor: pointer;
	background-color: hsl(180, 100%, 50%);
}

.lucky-message {
	color: green;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.unlucky-message {
	color: red;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.error {
	background-color: rgba(255, 255, 255, 0.5);
	color: red;
	padding: 10px;
	border-radius: 10px;
	width: 250px;
	text-align: center;
}
